{% extends 'base.html' %}  
  
{% block content %}  
 <br>
 <br>
<h4> {{message}}</h4>
 <br>
 <br>
    <form method="post" action=" " enctype="multipart/form-data">  
        {% csrf_token %}  
    
    <label for="fname">Title:</label>
    <input type="text" id="fname" name="title"><br><br>

    <label for="fname">Descprition:</label>
    <input type="text" id="fname" name="desc"><br><br>

    <label class="form-label" for="customFile">Default file input example</label>
    <input type="file" class="form-control" name="upload" id="customFile" />
        <button type="submit">Upload</button>  
    </form>  
    <br>
    {% for i in all_img%}
    <img src={{i.upload.url}}  height="400" width="400">{{i.title}}</img>
    {% endfor %}
    <br>
  
    {% if img_obj %}  
        <h3>Succesfully uploaded : {{img_obj.caption}}</h3>  
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">  
    {% endif %}  
  
{% endblock content %} 